- var showLabel = label && !suppressLabel
.form-group(class="#{_prefix}-form-group error-#{name} #{cls}")
    if showLabel
        label.control-label(class=(labelWidth && "col-sm-#{labelWidth}")) #{label}
    div(class=(labelWidth && "col-sm-#{12 - labelWidth} ") + (labelWidth && !showLabel && "col-sm-offset-#{labelWidth}"))
        div(class="#{_prefix}-fieldset")
            .fieldset-rows-container
