.flex-table
    div(class="#{_prefix}-flex-table")
        each row, rowId in rows
            div(class="#{_prefix}-flex-table_row #{_prefix}-flex-table_row-#{rowId}")
                each element, columnNum in row
                        div(class="#{_prefix}-flex-table_row__element #{_prefix}-flex-table_row__element-#{rowId}-#{columnNum} #{_prefix}-flex_row__column-#{columnNum}")
