extends ../base/base.jade

block inner
    select.form-control(
        id=id
        name=name
    )
        each item in values
            option(
                value=item.value
                disabled=item.disabled
                selected=item.selected
            )= item.name
