button.btn(
    class=[
        "#{_prefix}-button",
        type=type || "button",
        cls
    ],
    disabled=disabled
)
    if glyphicon
        | <span class="glyphicon glyphicon-#{glyphicon}"></span> #{label}
    else
        = label
