button.btn(
    class=[
        "#{_prefix}-button",
        cls || 'btn-default'
    ]
    type=type || "button"
    disabled=disabled
)
    if glyphicon
        | <span class="glyphicon glyphicon-#{glyphicon}"></span> #{label}
    else
        = label
