extends ../base/base.jade

block inner
    div(class="#{_prefix}-checkbox #{cls}")
        div.checkbox
            div.checkbox-wrapper
                label
                    input(
                        id="#{id}-checkbox",
                        name=name,
                        type="checkbox",
                        checked=(checked && "checked"),
                        class=checkboxCls
                    )
            div.text-wrapper
                span!=htmlLabel
