- var showLabel = label && !suppressLabel
.form-group(class="#{_prefix}-form-group error-#{name} #{cls}" +
    (required ? " required" : "") +
    (readOnly ? " readonly" : "") +
    (disabled ? " disabled" : ""))

    if showLabel
        label.control-label(for=id, class=(labelWidth && "col-sm-#{labelWidth}")) #{label}

    .controls(class=(labelWidth && "col-sm-#{12 - labelWidth} ") + (labelWidth && !showLabel && "col-sm-offset-#{labelWidth}"))
        block inner

        if description
            span.help-block #{description}

        span.help-block.errortext(style="display:none;")
