extends ../base/base.jade

block inner
    input.form-control(
        type=type,
        class=cls,
        name=name,
        value=value,
        id="#{id}-elt-#{name}",
        disabled=disabled,
        placeholder=placeholder
    )
