extends ../base/base.jade

block inner
    input.form-control(
        id=id
        type=type
        class=cls
        name=name
        value=value
        disabled=disabled
        placeholder=placeholder
    )
