.modal.fade(
    class="#{_prefix}-modal"
    tabindex=-1
    role="dialog"
)
    .modal-dialog(
        role="document"
    )
        .modal-content
            .modal-header

                button.close(
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close"
                )
                    i.glyphicon.glyphicon-remove

                .header-wrap
                    .header-image
                        span
                            img(src=imgUrl)

                    .header-title
                        h4.modal-title #{title}

            .modal-body

            .modal-footer
