div.modal.fade(
    class="#{_prefix}-modal"
    tabindex=-1,
    role="dialog"
)
    div.modal-dialog(
        role="document"
    )
        div.modal-content
            div.modal-header

                button.close(
                    type="button",
                    data-dismiss="modal",
                    aria-label="Close"
                )
                    i.glyphicon.glyphicon-remove

                div.header-wrap
                    div.header-image
                        span
                            img(src=imgUrl)

                    div.header-title
                        h4.modal-title #{title}

            div.modal-body

            div.modal-footer
